@mixin full-width() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

main {
  /**
   * You can use lostgrid (http://lostgrid.org/docs.html) to define your grid.
   */
  lost-center: 1024px;
  
  .device-card {
    width: 300px;
    .main-status {
      display: inline-block;
    }
  }
  
  .main-divider {
    border-top: 16px solid rgb(34, 214, 255);
  }

  #device-details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 1000px;
    background: rgba(255, 255, 255, 0.77);
  }
}