<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>🤘 Dashboard</title>
  <link rel="stylesheet" href="./app.css"></link>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
</head>
<body>
  <main>
    <div class="row">
      <div id="logo" class="col"><h1><span class="text-warning">🤘</span> Dashboard</h1></div>
      <div id="datetime" class="col">{{ time }}</div>
    </div>
    <div class="main-divider"></div>
    <div id="app"></div>
    <div id="device-details">
      <a class="close-details" href="#">CLOSE</a>
      <div class="device-details-body">

      </div>
    </div>
  </main>

  <script id="DeviceStatus" type="template/handlebars">
    <div class="main-status">
      <div class="main-status-name">
        {{ name }}
      </div>
      <div class="main-status-status">
        {{#if isOk}}
          <span class="text-success">OK</span>
        {{else}}
          <span class="text-danger">FULL</span>
        {{/if}}
      </div>
    </div>
  </script>

  <script id="DeviceItem" type="template/handlebars">
    <div class="card device-card mx-4 my-4 col-xl-3 col-md-12" data-id="{{id}}">
      <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        {{#each mainStatuses}}
          {{> DeviceStatus}}
        {{/each}}
        <div class="device-available">
          0 / 2
        </div>
        <div class="device-uptime">
          {{ uptimeString }}
        </div>
      </div>
    </div>
  </script>

  <script id="List" type="template/handlebars">
    <div class="row">
      {{#each devices}}
        {{> DeviceItem}}
      {{/each}}
    </div>
  </script>

  <script id="Datetime" type="template/handlebars">
    {{ time }}
  <hr/>
    {{ date }}
  </script>

  <script src="./app.js"></script>
</body>
</html>